{
  "env": {
    "browser": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "airbnb"
  ],
  "plugins": [
    "@typescript-eslint",
    "react-hooks"
  ],
  "rules": {
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "react/prop-types": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-fragments": [1, "element"],
    "react/jsx-curly-newline": "off",
    "import/prefer-default-export": "off",
    "no-empty": [
      "error",
      {
        "allowEmptyCatch": true
      }
    ],
    "quote-props": "off",
    "arrow-parens": ["error", "as-needed"],
    "import/no-extraneous-dependencies": "off",
    "react/jsx-curly-spacing": [
      "error",
      { "when": "always" }
    ],
    "max-len": [
      "error",
      { "code": 120 }
    ],
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "always-multiline"
      }
    ],
    "object-curly-newline": "off",
    "react/jsx-one-expression-per-line": "off",
    "lines-between-class-members": "off",
    "react/destructuring-assignment": "off",
    "consistent-return": "off",
    "no-console": [
      "error",
      { "allow": ["error"] }
    ],
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal"
        ],
        "newlines-between": "always-and-inside-groups"
      }
    ],
    "jsx-a11y/label-has-associated-control": "off",
    "react/jsx-closing-bracket-location": "off",
    "react/button-has-type": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/no-unescaped-entities": "off",
    "react/no-danger": "off",
    "no-unused-vars": "off",
    "no-use-before-define": "off",
    "no-shadow": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "^log$"
      }
    ],
    "@typescript-eslint/no-use-before-define": "error",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-shadow": "error",
    "@typescript-eslint/indent": ["error", 2]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "paths": ["source"]
      }
    }
  }
}
